body {
    font-family: Arial, sans-serif;
    background-color: #523b28ca;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333ef;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #a981228d;
    color: #00406b;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff94;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}